@import 'scss/reset';

body {
    font-family: 'Poppins', sans-serif;
    background-image: url("/images/hero_background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    height: 600px;
    background-color: #ffffff;
    margin-left: 100px;
    margin-right: 100px;
}

header {
    width: 100%;

    nav {
        display: flex;
        justify-content: flex-end;
        text-decoration: none;

        ul {
            display: inline-flex;
            justify-content: flex-end;
            flex-wrap: wrap;

            li {
                margin: 2em;
                text-transform: capitalize;
                text-transform: uppercase;
                text-transform: uppercase;
                color: white;
                font-size: 16pt;
                font-weight: 700;

                a {
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }
}

section.hero {
    margin: 2em;
    width: 100%;

    div.container-hero {
        position: relative;
        color: white;

        div.general {
            display: flex;
            justify-content: flex-end;
            flex-direction: row;
            height: 100vh;

            div.text {

                h1 {
                    text-transform: capitalize;
                    margin: 1em;
                    font-size: 24pt;
                    font-weight: bolder;
                }

                p {
                    margin: 1em;
                    font-size: 18pt;
                    font-weight: lighter;
                }

                button {
                    margin: 2em;
                }
            }

            div.casa {
                width: 100%;
            }
        }
    }
}

section.categorias {
    margin-top: 2em;
    margin-bottom: 2em;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    height: 100vh;

    h1 {
        text-align: center;
        text-transform: capitalize;
        color: #263238;
        font-size: 18pt;
        font-weight: 700;
    }

    div.container-categorias {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        
        img{
            width: 550px;
        }
    }
}

section.productos {
    margin-top: 2em;
    margin-bottom: 2em;
    width: 100%;
    background-color: #f0eeee;
    display: flex;
    justify-content: center;
    flex-direction: column;
    

    h1 {
        text-align: center;
        text-transform: capitalize;
        color: #263238;
        font-size: 18pt;
        font-weight: 700;
    }

    div.container-productos {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(3, 1fr);
        img{
            width: 500px;
        }
    }
}

footer {
    width: 100%;
    background-color: rgb(73, 154, 234);
    display: flex;
    justify-content: center;

    h2 {
        margin-top: 2em;
        margin-bottom: 2em;
        text-transform: uppercase;
        color: white;
        font-size: 18pt;
        font-weight: 700;
    }

}