html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-image: url("/images/hero_background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  height: 600px;
  margin-left: 100px;
  margin-right: 100px;
}

header {
  position: relative;
  width: 100%;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-decoration: none;
}

header nav ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header nav ul li {
  margin: 2em;
  text-transform: capitalize;
  text-transform: uppercase;
  text-transform: uppercase;
  color: white;
  font-size: 16pt;
  font-weight: 700;
}

section.hero {
  margin: 2em;
  width: 100%;
  position: relative;
}

section.hero div.container-hero {
  position: relative;
  color: white;
}

section.hero div.container-hero div.text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.hero div.container-hero div.text h1 {
  text-transform: capitalize;
  margin: 1em;
  font-size: 24pt;
  font-weight: bolder;
}

section.hero div.container-hero div.text p {
  margin: 1em;
  font-size: 18pt;
  font-weight: lighter;
}

section.hero div.container-hero div.text button.boton {
  margin: 2em;
}

section.hero div.container-hero div.text div.casa {
  margin-left: 700px;
}

section.categorias {
  margin-top: 2em;
  margin-bottom: 2em;
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.categorias h1 {
  text-transform: capitalize;
  color: #263238;
  font-size: 18pt;
  font-weight: 700;
}

section.categorias div.container-categorias {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

section.productos {
  margin-top: 2em;
  margin-bottom: 2em;
  position: relative;
  width: 100%;
  background-color: #f0eeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.productos h1 {
  text-transform: capitalize;
  color: #263238;
  font-size: 18pt;
  font-weight: 700;
}

footer {
  width: 100%;
  background-color: #499aea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer h2 {
  margin-top: 2em;
  margin-bottom: 2em;
  text-transform: uppercase;
  color: white;
  font-size: 18pt;
  font-weight: 700;
}
/*# sourceMappingURL=styles.css.map */